:root {

    --violet:      hsl(257, 40%, 49%);
    --softMagenta: hsl(300, 69%, 71%); 

}

html, body {
    width: 100%;
    height: 100%;
    color: white;
}

#view { 
    width: 100%;
    height: 100%;
    background-image: url('../images/bg-desktop.svg');
    background-color: var(--violet);  
    position: relative; 
    padding: 50px 0; 
}

.logo {
    width: 90%;
    margin: 0 auto;
}

.main-container {
    width: 90%;
    gap: 60px;
    margin: 90px auto 0px auto;
    display: flex;
    justify-content: center;
    
}

.flyer {
    width: 50%;
    min-width: 700px;
}

.flyer img { 
    width: 100%;
}

.text {
    width: 50%;
    margin-top: 50px;
}

.text h1{
    font-size: 38px;
    margin-bottom: 30px;
}

.text p{
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 30px;
}

.text button {
    width: 200px;
    background-color: white;
    border: 1px solid #563771;
    color: var(--violet);
    border-radius: 50px;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    font-family: 'poppins-semibold';
}

button:hover {
    background-color: var(--softMagenta);
    color: white;
}

.social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 90%;
    margin: 0 auto;
    gap: 20px;
}

.circle {
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid white;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center; 
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.circle:hover {
    border-color: var(--softMagenta);
}

svg.fb{
    fill: white;
    transition: all .2s ease-in-out;
}

svg.tw {
    fill: white;
    transition: all .2s ease-in-out;
}

svg.ig {
    fill: white;
    transition: all .2s ease-in-out;
}

svg.fb:hover,
svg.tw:hover,
svg.ig:hover {
    fill: var(--softMagenta);
}

@media (max-width: 1330px) {

    #view {
        height: initial;
    }

    .main-container {

        display: block;

    }

    .flyer {
        width: 70%;
        min-width: initial;
        margin: 0 auto;
    }

    .text {
        width: 70%;
        margin: 80px auto 0px auto;
        text-align: center;
        margin-bottom: 130px;
    }

    .social {
        justify-content: center;
    }

}

@media (max-width: 750px) {

    .logo {
        display: flex;
        justify-content: center;
    }

    .logo img {
        width: 200px;
    }

    .flyer {
        width: 90%;
    }

    .text {
        width: 90%;
    }

}

@media (max-width: 500px) {

    .text h1 {
        font-size: 30px;
    }

    .text p {
        font-size: 19px;
    }

}

@media (max-width: 390px) {
    .text h1 {
        font-size: 26px;
    }
}